<div class="container">
<h1>Please create an account for registration purposes</h1>

<form action='/create_account' method='post'>
User Name: <input type="text" name="person[username]" placeholder="Register an username">
<br>
<br>
Password: <input type="text" name="person[password]" placeholder="Register a password">
<br>
<br>
<input type="submit" value="Submit!">

</form>
</div>