<div class="container">
  <h1>Please enter your username and password if you are a registered user </h1>


<form action='/flashcards' method='post'>
Username: <input type="text" name="user_username" placeholder="Enter username">
<br>
<br>
Password: <input type="text" name="user_password" placeholder="Enter password">
<br>
<br>
<input type="submit" value="Submit!">


<a href = "/create_account">Create Account</a>


</form>



</div>
